.user-info__edit-btn{
    font-size: 12px;
    line-height: 15px;
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    width: 38px;
    height: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

.user-info__edit-btn:focus {
    outline-color: greenyellow;
  }

  .user-info__edit-btn:hover {
    background-color: #FFFFFF;
    color: #000;
  }
  .user-info__edit-btn:active {
    background-color:#6495ed;
    color: #000;
    
  }